<hr style="color:red" />
<a class="text-center; font-weight-bold"><strong class="dropdown arrow-top" style="font-size: x-large; color: black">Best seller</strong></a>
<img src="https://images6.alphacoders.com/346/346199.jpg" width="95%" height="600px" />
