@model The_cool_Library.Models.Genre

<form method="post" asp-action="Add" asp-controller="Category">
    <h2> Add new category </h2>
    <div class="form-group">
        <label class="h4 text-success">New category</label>
        <input class="form-control" asp-for="@Model.Genre_name" />
        <span class="text-danger" asp-validation-for="@Model.Genre_name"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-warning" value="Add" />
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Genre">Cancel</a>
    </div>
</form>