@page
@model LoginModel

@{
    Layout = "_LayoutRegister";
}

<hr />
<section class="sign-in">
    <div class="signin-content">
        <div class="signin-image">
            <figure><img src="https://img.freepik.com/free-vector/tiny-graphic-designer-drawing-with-big-pen-computer-screen-creators-work-creative-woman-working-laptop-flat-vector-illustration-digital-design-concept-banner-landing-web-page_74855-25342.jpg?w=2000" alt="sign in image"></figure>
            <a class="display-flex-center" style="color:mediumpurple" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>

        <div class="signin-form">
            <h2 class="form-title">Sign in</h2>
            <form method="POST" class="register-form" id="login-form">
                <div class="form-group">
                    <label for="your_name" asp-for="Input.Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" name="your_name" id="your_name" placeholder="Usename" asp-for="Input.Email" />
                </div>
                <div class="form-group">
                    <label for="your_pass" asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" name="your_pass" id="your_pass" placeholder="Password" asp-for="Input.Password" />
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" /><a>Remember me?</a>

                </div>

                <div class="form-group form-button">
                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" style="background:burlywood" />
                </div>

                <div>
                    <p>
                        <a style="color:mediumpurple" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
            <div class="social-login">
                <span class="social-label">Or login with</span>
                <ul class="socials">
                    <li><a href="#"><i class="display-flex-center icon-facebook" style="background:dodgerblue"></i></a></li>
                    <li><a href="#"><i class="display-flex-center icon-github" style="background:blueviolet"></i></a></li>
                    <li><a href="#"><i class="display-flex-center icon-google" style="background:crimson"></i></a></li>
                </ul>   
            </div>
        </div>
    </div>
</section>