@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



.content {
    width: 420px;
    margin-top: 100px;
}

.ratings {
    background-color: #fff;
    padding: 54px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px #E0E0E0;
}

.product-rating {
    font-size: 50px;
}

/*.stars i {
    font-size: 30px;
    color: coral;
}*/

.rating-text {
    margin-top: 10px;
}
